@if (Entity.IdAbilities().Count > 0) {
    <EntityDisplayComponent Title="Abilities">
        @foreach (var idAbility in Entity.IdAbilities()) {
            var spell = EntityModel.Get(idAbility.Id);

            var info = spell.Info();
            var production = spell.Production();

            <div>
                <div>
                    <b>Name:</b> <EntityLabelComponent EntityId="@spell.DataType"/>
                </div>
                <div>
                    <b>Description:</b> @((MarkupString)info.Description)
                </div>
                
                @if (!info.Notes.Trim().Equals("")) {
                    <div>
                        <b>Notes:</b> @((MarkupString)info.Notes)
                    </div>   
                }
                
                <div>
                    @if (production != null) {
                        if (production.Energy != 0) {
                            <div>
                                <b> Energy: </b> @production.Energy
                            </div>
                        }
                        if (production.BuildTime != 0) {
                            <div>
                            <b> BuildTime: </b>  @production.BuildTime
                            </div>
                        }
                        if (production.Cooldown != 0) {
                            <div>
                            <b> Cooldown: </b> @production.Cooldown
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </EntityDisplayComponent>
}


@code {

    [Parameter]
    public EntityModel Entity { get; set; }

}