@if (Entity.IdPassives().Count > 0) {
    <EntityDisplayComponent Title="Passives">
        @foreach (var idPassive in Entity.IdPassives()) {
            var passive = EntityModel.Get(idPassive.Id);

            var info = passive.Info();
            
            var production = passive.Production();

            <div>
                <div>
                    <b>Name:</b> <EntityLabelComponent EntityId="@passive.DataType"/> 
                </div>
                <div style="max-width: 600px;">
                    <b>Description:</b> @((MarkupString)info.Description)
                </div>
                
                @if (!info.Notes.Trim().Equals("")) {
                
                    <div style="max-width: 600px;">
                        <b>Description:</b> @((MarkupString)info.Notes)
                    </div>    
                }
            </div>
            
            @if (production != null) {
                <div>
                    @if (production.Pyre != 0) {
                        <div>
                            <b>Pyre:</b> @production.Pyre
                        </div>   
                    }
                    @if (production.Cooldown != 0) {
                        <div>
                            <b>Cooldown:</b> @production.Cooldown.ToString()s
                        </div>   
                    }
                </div>
            }
        }
    </EntityDisplayComponent>
}


@code {

    [Parameter]
    public EntityModel Entity { get; set; }

}