@page "/notes/coop-holdout"

<div class="page">
    <PageContainerComponent>
        <LayoutNoteContentComponent>
            @if (note.IsPreAlpha) {
                <AlertComponent>
                    <Title>Pre Alpha</Title>
                    <Message>This note refers to content that is in pre-alpha. It won't be accurate in future updates to IGP.</Message>
                </AlertComponent>
            }

            <div class="paper">
                <div style="display: flex; flex-direction: row;">
                    <span style="font-weight: bold; font-style:italic;">@note.Section</span>
                    <div style="flex: 1"></div>
                    <span style="font-weight: bold; font-style:italic;">Last Updated on @note.LastUpdated</span>
                </div>
                <div>
                    <div id="@note.DEPRECATED_Id()" style="font-weight: bold; font-size: 1.4rem;">@note.Name</div>
                    <div style="white-space:break-spaces;">@((MarkupString)note.Description)</div>
                </div>
                <br/>
            </div>

        </LayoutNoteContentComponent>
    </PageContainerComponent>

</div>
<style>
    .page {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 16px;

    }

    .paper {
        padding: 24px; 
        overflow-x:hidden;        
        background-color:var(--paper);
    }

    @@media only screen and (max-width: 1025px) {
        .page {
            display: flex;
            flex-direction: column;
            padding: 2px;
            gap: 2px;
        }
    }
</style>

@code {
    readonly NoteModel note = NoteModel.Notes["79d80c48-67d4-4945-a3ed-7c7803b5f6b5"];
}